<nav class="main-nav">
    <div class="nav-container">
        <a href="/index.html" class="logo">
            <img src="/assets/img/f2flogo.png" alt="F2F Coaching Group" class="logo-img">
        </a>
        <ul class="nav-links">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/pages/about.html">About Us</a></li>
            <li><a href="/pages/coaches.html">Meet our Coaches</a></li>
            <li><a href="/pages/services.html">Services</a></li>
            <li><a href="/pages/contact.html">Contact Us</a></li>
        </ul>
    </div>
</nav>