<nav class="main-nav">
    <div class="nav-container">
        <a href="/index.html" class="logo">
            <img src="../assets/img/f2fCoachingGroupLogo_v2.png" alt="F2F Coaching Group" class="logo-img">
        </a>
        <ul class="nav-links">
            <li><a href="/index.html">Home</a></li>
                <li class="has-dropdown">
                    <a href="/pages/about.html">About Us</a>
                    <ul class="dropdown">
                        <li><a href="/pages/testimonials.html">Testimonials</a></li>
                        <li><a href="/pages/usbc-silver.html">USBC Silver Lesson Expectations</a></li>
                        <li><a href="/pages/private-coaching.html">F2F Coaching — Private Development</a></li>
                    </ul>
                </li>
            <li><a href="/pages/coaches.html">Meet our Coaches</a></li>
            <li><a href="/pages/pricing.html">Pricing</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="/pages/documents.html">Documents</a></li>
        </ul>
    </div>
</nav>
